body {
  background-color: whitesmoke;
}

/* ================ Styles for todoform.js ================= */

.todo-form {
  width: 70%;
}
.todo-form input {
  height: 5vh;
  width: 65%;
  margin: auto;
  padding: 3px;
}
@media(max-width:412px){
  .todo-form input {
    height:4vh;
  }
}

/* ================== End styles for todoform.js =============== */


/* ================== Styles for App.js =====================  */

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

/* =================== End styles for App.js =====================  */


/* =================== Styles for todoitem.js ====================  */

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  /* font-family: Roboto, sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 18px;
  color: #333333;
  background-color: floralwhite;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;

}

input[type=checkbox]:focus {
  outline: 0;
}

/* ================= End styles for todoitem.js ====================  */
